# Exclude binaries
generate_tests

# Exclude groff scripts
groff
failed

# Exclude logs
error.log

# Exclude list of base utilities
src/scripts/utils_list

# Exclude makefile for testing on Linux
Makefile.Linux

# Exclude object files
*.o

# Exclude generated scripts
src/generated_tests
src/update_tree.sh
